<!-- your html code here -->
<div class="container-fluid" style="background-color: #FFFFFF; border-radius: 4px;">
    <div class="container col 6">
    <h1 style="color: #8C8C8C;"><strong style="color: #333333;">This First Heading</strong> will catch your eyes</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis <br> 
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br> 
        conesectetur. Fusce dapibus, tellis ac cursus commodo.</p>
    </div>
</div>