<!-- your html code here -->
<div class="container" style="background-color: #FFFFFF;">
<br/>
<br/> 
<br/> 
</div>
<div class="container" style="background-color: #FFFFFF; padding: 25px;">
    <div class="container col 10">
        <div class="col-8" style="padding-top: 20px;">
        <img src="../website1/assets/img/2.jpg" alt="imagen" class="rounded-circle float-left" style="width: 300px; object-fit: cover; width: 250px; height: 250px;">
        </div>
    </div>
    <div class="container">
        <div class="container col-10">
        <h2 style="color: #8C8C8C;"><strong style="color: #333333;">The Secong Heading</strong> Is Pretty Cool Too</h2>
        </div>

        <div class="container col-10">
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis <br> 
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl <br> 
        conesectetur. Fusce dapibus, tellis ac cursus commodo.</p>
        </div>
    </div>        

    <div class="container" style="background-color: #FFFFFF;">
    <br/> 
    <br/> 
    <br/>
    </div>   
</div>